body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}

.heading {
  text-align: center;
  margin-top: 4rem;
  color: #fff;
}

.players-list-title {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.players-container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr;
  margin-top: 1rem;
  justify-content: center;
}

.players-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.players-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.player-name-input {
  width: 12rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.player-email-input {
  width: 12rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #000;
  border-radius: 5px;
}

#add-player-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#delete-player-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.players-config {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  color: #fff;
}

.players-count {
  max-width: 2rem;
}

.start-game {
  display: block;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  margin-top: 2rem;
  text-decoration: none;
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: padding-right .3s ease-out;
}

.start-game.loading {
  background-color: #4caf50;
  padding-right: 40px;
}

.start-game.loading:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  right: 6px;
  top: 50%;
  width: 0px;
  height: 0px;
  margin-top: -2px;
  border: 2px solid rgba(255,255,255,0.5);
  border-left-color: #FFF;
  border-top-color: #FFF;
  animation: spin .6s infinite linear, grow .3s forwards ease-out;
}

@keyframes spin { 
  to {
      transform: rotate(359deg);
  }
}
@keyframes grow { 
  to {
      width: 14px;
      height: 14px;
      margin-top: -8px;
      right: 13px;
  }
}

.game-table {
  margin: 0 auto;
  margin-top: 2rem;
  border-collapse: collapse;
  width: 50%;
  display: none;
}

.table-header {
  color: white;
  font-weight: 900;
  margin: 0.5rem;
}

.table-text {
  color: #fff;
  margin: 0.5rem;
}

.status {
  text-align: center;
  margin: 0.5rem;
  color: #0f0;
}

.dead {
  color: #f00;
  margin: 0.5rem;
}

#end-game-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 2rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
